<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <meta name="description" content="" />
  <meta name="author" content="" />
  <title>Resume - Start Bootstrap Theme</title>
  <link rel="icon" type="image/x-icon" href="assets/img/favicon.ico" />
  <!-- Font Awesome icons (free version)-->
  <script src="https://use.fontawesome.com/releases/v6.3.0/js/all.js" crossorigin="anonymous"></script>
  <!-- Google fonts-->
  <link href="https://fonts.googleapis.com/css?family=Saira+Extra+Condensed:500,700" rel="stylesheet" type="text/css" />
  <link href="https://fonts.googleapis.com/css?family=Muli:400,400i,800,800i" rel="stylesheet" type="text/css" />
  <!-- Core theme CSS (includes Bootstrap)-->
  <link rel="stylesheet" href="/stylesheets/bootstrap.css">
</head>

<body id="page-top">
  <!-- Navigation-->
  <img>
  <nav class="navbar navbar-expand-lg navbar-dark bg-primary fixed-top" id="sideNav">
    <a class="navbar-brand js-scroll-trigger" href="#page-top">
      <span class="d-block d-lg-none">Chia-Hsuan Chu</span>
      <span class="d-none d-lg-block">
        <img class="img-fluid img-profile rounded-circle mx-auto mb-2" src="/profile.jpg" alt="..." /></span>
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive"
      aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation"><span
        class="navbar-toggler-icon"></span></button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav">
        <li class="nav-item"><a class="nav-link js-scroll-trigger" href="#about">About</a></li>
        <li class="nav-item"><a class="nav-link js-scroll-trigger" href="#experience">Experience</a></li>
        <li class="nav-item"><a class="nav-link js-scroll-trigger" href="#education">Education</a></li>
        <li class="nav-item"><a class="nav-link js-scroll-trigger" href="#skills">Skills</a></li>
        <li class="nav-item"><a class="nav-link js-scroll-trigger" href="#languages">Languages</a></li>
        <li class="nav-item"><a class="nav-link js-scroll-trigger" href="#interests">Interests</a></li>
        <li class="nav-item"><a class="nav-link js-scroll-trigger" href="#awards">Awards</a></li>
      </ul>
    </div>
  </nav>
  <!-- Page Content-->
  <div class="container-fluid p-0">
    <!-- About-->
    <section class="resume-section" id="about">
      <div class="resume-section-content">
        <h1 class="mb-0">
          Chia-Hsuan
          <span class="text-primary"></span>
          Chu
        </h1>
        <div class="subheading mb-5">
          Taipei, Taiwan · (+886) 972-102562 ·
          <a style="color:darkblue" href="mailto:jiasyuanchu@email.com">jiasyuanchu@email.com</a>
        </div>
        <p class="lead mb-5">A self-motivated and well-trained backend developer, familiar with Node.js, JavaScript, and
          Express. Experienced in 3rd-party API integration, CI/CD, and cloud deployment (e.g. GCP, Heroku).
          Furthermore, solid expertise in business strategy and consumer insights from 5-years of working in the
          fast-paced FMCG industry.</p>
        {{!-- the four links --}}
        <div class="social-icons">
          <a class="social-icon" href="https://www.linkedin.com/in/chia-hsuan-chu-64278962/"
            onclick="window.open('https://www.linkedin.com/in/chia-hsuan-chu-64278962/', '_blank'); return false;"><i
              class="fab fa-linkedin-in"></i></a>
          <a class="social-icon" href="https://github.com/jiasyuanchu"
            onclick="window.open('https://github.com/jiasyuanchu', '_blank'); return false;"><i
              class="fab fa-github"></i></a>
          <a class="social-icon" href="https://medium.com/@abundant_ice_alpaca_426"
            onclick="window.open('https://medium.com/@abundant_ice_alpaca_426', '_blank'); return false;"><i
              class="fab fa-medium"></i></a>
          <a class="social-icon" href="https://www.facebook.com/jiasyuanchu"
            onclick="window.open('https://www.facebook.com/jiasyuanchu', '_blank'); return false;"><i
              class="fab fa-facebook-f"></i></a>
        </div>
      </div>
    </section>
    <hr class="m-0" />
    <!-- Experience-->
    <section class="resume-section" id="experience">
      <div class="resume-section-content">
        <h2 class="mb-5">Experience</h2>
        {{!-- first one --}}
        <div class="d-flex flex-column flex-md-row justify-content-between mb-5">
          <div class="flex-grow-1">
            <h3 class="mb-0">Market research (part timer)</h3>
            <div class="subheading mb-3">KANTAR TAIWAN WORLDPANEL DIVISION</div>
            <ul>
              <li>Maintained a positive relationship with client by fulfilling their needs on market knowledge.</li>
              <li>Preparing market research reports through solid logical thinking and proficient numerical analysis.
              </li>
              <li>Provided remote market strategy consulting services to clients.</li>
            </ul>
          </div>
          <div class="flex-shrink-0"><span class="text-primary">Aug 2022 - Jul 2023</span></div>
        </div>
        {{!-- 2nd --}}
        <div class="d-flex flex-column flex-md-row justify-content-between mb-5">
          <div class="flex-grow-1">
            {{!-- logo --}}
            <div style="margin-bottom: 20px;">
              <img style="height: 70px;" src="PGlogo.png" alt="pglogo">
            </div>
            <h3 class="mb-0">Senior Brand Manager, E-Commerce Team</h3>
            <div class="subheading mb-3">PROCTER & GAMBLE TAIWAN LIMITED</div>
            <ul>
              <li>Led the multi-disciplinary team (including Sales, Finance, Product Supply, Advertising, and Media
                Agencies) to work on
                EC campaigns, driving business results by developing top strategies on winning market share.</li>
              <li>Conducted Double-11 EC campaign resulting in sales amount contribution (of one specific media type)
                +31% verse a year ago.</li>
            </ul>
          </div>
          <div class="flex-shrink-0"><span class="text-primary">Aug 2021 - Feb 2022</span></div>
        </div>
        <div class="d-flex flex-column flex-md-row justify-content-between mb-5">
          <div class="flex-grow-1">
            <h3 class="mb-0">Account Manager, Commercial Team</h3>
            <div class="subheading mb-3">KANTAR TAIWAN WORLDPANEL DIVISION</div>
            <ul>
              <li>Analyzed quantitative consumer data with logical thinking to discover growth opportunities to support
                clients
                develop comprehensive business strategies (regarding shopper portfolio, pricing, channels, and
                products). Suggestion
                got adopted and improved client's sales performance by +53% with expected annualized sales of over
                US$1.6M.</li>
              <li>Delivered business presentations over 40+ times. Received compliments from GM/MD for “The presentation
                is
                insightful and helpful to our business plan.”, and “A persuasive speech to drive call-to-actions.”</li>
              <li>Substantial experience in over 15+ FMCG categories with solid domain knowledge. Served top firms of
                FMCG industry
                - Unilever, L'Oreal, Amorepacific, Nestle, General Mills, Pfizer, Johnson & Johnson, etc,. Won clients
                compliments
                with “Professional. Always answer quickly and precisely.” as feedback (2020).</li>
              <li>Managed multi-categories projects with high efficacy with stakeholders from different business
                functions. Earned
                acknowledgment in my communication skills by team leaders and gave a sharing session internally.</li>
              <li>Been a quick learner with a problem-solving mindset. Been promoted twice and transformed from Account
                Executive to
                Account manager within 3 years which was at least 1-year faster than the peers.</li>
              <li>Been a team player with a focus to flourish with teammates. My design of people development had been
                evaluated in
                a 4.75/5 score in satisfaction survey after 1-year conduction (2020).</li>
            </ul>
          </div>
          <div class="flex-shrink-0"><span class="text-primary">Jan 2018 - Jul 2021</span></div>
        </div>

      </div>
    </section>
    <hr class="m-0" />
    <!-- Education-->
    <section class="resume-section" id="education">
      <div class="resume-section-content">
        <h2 class="mb-5">Education & Certifications</h2>
        {{!-- 1st ac --}}
        <div class="d-flex flex-column flex-md-row justify-content-between mb-5">
          <div class="flex-grow-1">
            <h3 class="mb-0">ALPHA Camp</h3>
            <div class="subheading mb-3">JavaScript Full Stack Web Development Program</div>
            <ul>
              <li><a>基礎全端開發課程（2023年4月取得<a
                    href="https://lighthouse.alphacamp.co/certificates/01a874dd-2a2b-4a29-b411-5491a7c0204c">證照</a>）</a>
              </li>
              certified Full Stack Web Development Program
              <li><a>網頁開發基礎課程 - 後端主修（2023年7月取得<a
                    href="https://lighthouse.alphacamp.co/certificates/beb6ebc2-d1a3-4a21-abfc-fc1d824a20af">證照</a>）</a>
              </li>
              certified Foundation Course of Online Web Development Track, specializing in Back-end Course
            </ul>
          </div>
          <div class="flex-shrink-0"><span class="text-primary">Dec 2022 - Jul 2023</span></div>
        </div>
        {{!-- 2nd ntu --}}
        <div class="d-flex flex-column flex-md-row justify-content-between mb-5">
          <div class="flex-grow-1">
            <h3 class="mb-0">NATIONAL TAIWAN UNIVERSITY (國立臺灣大學)</h3>
            <div class="subheading mb-3">Bachelor of Arts in Sociology, Teacher Education Program</div>
            <ul>
              <li>Honors/ Scholarship</li>
              <em style="color:rgb(183, 183, 203)">Total scholar amount exceeded NTD$200,000</em>
              <ul>
                <li>National Science Council (NSC) Research Scholarship, Taiwan (2013)</li>
                <li>Mrs. May Jen Scholarship (2014)</li>
                <li>Mrs. Lin Shen Scholarship (2014, 2015)</li>
                <li>Mr. Lee Li-Po Scholarship (2014)</li>
                <li>Mr. Chang Mao-Sheng Scholarship (2013)</li>
              </ul>
              <br> <!-- Add a line break -->
              <li>Relevant Coursework</li>
              <ul>
                <li>Research Methods and Data Analysis</li>
                <li>Social Statistics</li>
                <li>Social Research Method</li>
                <li>Sociology of Information Technology</li>
              </ul>
            </ul>
          </div>
          <div class="flex-shrink-0"><span class="text-primary">Aug 2010 - Feb 2015</span></div>
        </div>

      </div>
    </section>
    <hr class="m-0" />
    <!-- Skills-->
    <section class="resume-section" id="skills">
      <div class="resume-section-content">
        <h2 class="mb-5">Skills</h2>
        <div class="subheading mb-3">Programming Languages & Tools</div>
        <ul class="list-inline dev-icons">
          <li class="list-inline-item"><i class="fab fa-html5"></i></li>
          <li class="list-inline-item"><i class="fab fa-css3-alt"></i></li>
          <li class="list-inline-item"><i class="fab fa-js-square"></i></li>
          <li class="list-inline-item"><i class="fab fa-node-js"></i></li>
          <li class="list-inline-item"><i class="fab fa-git"></i></li>
          <li class="list-inline-item"><i class="fab fa-github"></i></li>
          <li class="list-inline-item"><i class="fab fa-npm"></i></li>
          <li class="list-inline-item"><i class="fab fa-docker"></i></li>
        </ul>
        <ul>
          <li>
            Cloud and Development Platforms（雲端與開發平台）
            <ul>
              <li>Google Cloud</li>
              <li>Heroku</li>
              <li>Docker</li>
              <li>CI/CD</li>
            </ul>
          </li>
          <li>
            Backend Development and Database Management（後端開發與資料庫管理）
            <ul>
              <li>Node.js、Javascript</li>
              <li>SQL/NoSQL</li>
              <li>API設計</li>
            </ul>
          </li>
          <li>
            Security and Authentication（安全與認證）
            <ul>
              <li>Passport</li>
              <li>JWT (JSON Web Token)</li>
            </ul>
          </li>
          <li>
            Team Collaboration and Version Control（團隊協作及版本控制）
            <ul>
              <li>GitHub</li>
              <li>Git</li>
            </ul>
          </li>
        </ul>

        <div class="subheading mb-3">Workflow</div>
        <ul class="fa-ul mb-0">
          <li>
            <span class="fa-li"><i class="fas fa-check"></i></span>
            Cross Functional Teams
          </li>
          <li>
            <span class="fa-li"><i class="fas fa-check"></i></span>
            Agile Development & Scrum
          </li>
        </ul>
      </div>
    </section>
    <!-- Languages-->
    <section class="resume-section" id="languages">
      <div class="resume-section-content">
        <h2 class="mb-5">Languages</h2>
        <ul>
          <li>Mandarin(Native)</li>
          <li>English(Proficient) - TOEIC golden certificates</li>
          <li>German(Basic)</li>
        </ul>
      </div>
    </section>
    <hr class="m-0" />
    <!-- Interests-->
    <section class="resume-section" id="interests">
      <div class="resume-section-content">
        <h2 class="mb-5">Interests</h2>
        <p>Apart from being a web developer, I enjoy most of my time being outdoors. I enjoy sports such as scuba
          diving, cycling, running and mountain-climbing. In October 2023, I took participating in the triathlon as a
          birthday challenge to myself. I successfully completed the Ironman 70.3 Kenting challenge, covering a total
          distance of 113 kilometers.</p>
        <p class="mb-0">As for indoor activities, I enjoy immersing myself in the world of classical music.
          Bel canto, piano, and orchestral music are
          my favorites, helping me relax and providing me with a world full of imagination. Life is neither eternal
          nor perfect, but art fills these gaps.</p>
      </div>
    </section>
    <hr class="m-0" />
    <!-- Awards-->
    <section class="resume-section" id="awards">
      <div class="resume-section-content">
        <h2 class="mb-5">Awards</h2>
        <ul class="fa-ul mb-0">
          <li>
            <span class="fa-li"><i class="fas fa-trophy text-warning"></i></span>
            ALPHA Camp certified Web Development Track, specializing in Back-end Course (with scholarship worth TWD
            10,000)
          </li>
        </ul>
      </div>
    </section>
  </div>
  <!-- Bootstrap core JS-->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
  <!-- Core theme JS-->
  <script src="../../js/scripts.js"></script>
</body>

</html>